*
{
    font-family: sans-serif;
}

button
{
    border: none;
    background-color: transparent;
    outline: none;
}

body
{
    margin: 0;
}

header
{
    display: flex;
    position: fixed;
    width: 100%;  
    align-items: center;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    background: white;
    z-index: 1;
}

header .sub-header
{
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    max-width: 1120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .account
{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    border-radius: 40px;
    display: flex;
    height: 42px;
    padding: 5px 5px 5px 16px;
    align-items: center;
    justify-content: space-between;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(247, 247, 247);
}

header .account img
{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 8px;
} 

.search-bar a
{
    text-decoration: none;
    color: rgb(113, 113, 113);
}

.search-bar
{
    
    justify-content: space-between;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(247, 247, 247);
}

.search-bar-item
{
    padding: 15px;
    color: rgb(113, 113, 113);
    font-size: 14px;
    border-right: 1px solid rgb(235, 235, 235);
}

.search-bar-item:last-child
{
    border-right: none;
}

svg
{
    color: #FF385C;
}

section
{
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
}

article
{
    padding-top: 15px;
    margin-bottom: 24px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 1120px;
    margin: auto;
}

h1
{
    margin-bottom: 4px;
    font-size: 25px;
}

.sub-title
{
    margin-top: 8px;
    margin-bottom: 24px ;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.star
{
    margin-right: 4px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
}

.number-of-comment
{
    color: rgb(113, 113, 113);
}

.dot
{
    margin: 0px 8px;
    color: rgb(113, 113, 113);
}

.town
{
    color: rgb(113, 113, 113);
    text-decoration: underline
}

.sub-title-right
{
    margin-left: auto;
    display: flex;
    align-items: center;
}


.share, .save
{
    display: flex;
    align-items: center;
}

.share-icon, .save-icon
{
    margin-right: 8px;
}

.link
{
    text-decoration: underline;
}

.pictures
{
    display: flex;
    width: 100%;
    height: 372px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 12px;
    overflow: hidden;
}

.pictures img
{
    position: relative;
}

.pictures-container img
{
    width: 100%;
    height: auto;
}

.column
{
    display: flex;
    flex: 1;
}

.column-right
{
    flex-wrap: wrap;
}

.pictures-container-right
{
    width: 50%;
    height: 186px;
    overflow: hidden;
    box-sizing: border-box;
}

.pictures-container-right img
{
    width: 100%;
    height:auto;
}

.pictures-container
{
    padding-right: 3px;
}

.pictures-container-right:nth-child(1)
{
    padding-left: 3px;
    margin-bottom: 3px;
}

.pictures-container-right:nth-child(3)
{
    padding-left: 3px;
    margin-top: 3px;
}

.pictures-container-right:nth-child(2)
{
    padding-left: 6px;
    margin-bottom: 3px;
}

.pictures-container-right:nth-child(4)
{
    padding-left: 6px;
    margin-top: 3px;
}

.top-description
{
    padding: 35px 0px 24px;
    width: 646px;
}

h2
{
    font-size: 22px;
    margin-bottom: 8px;
}

h3
{
    font-size: 22px;
    margin-bottom: 8px;
    margin-top: 0px;
}


.subdescription
{
    color: #484848;
}

.line
{
    background-color: rgb(235, 235, 235);
    height: 1px;
    width: 646px;
}

.host-photo-right
{
    margin-left: 586px;
    display: flex;
}

.host-photo
{
    margin-top: -67px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.top-sub-description
{
    position: relative;
    padding-bottom: 32px;
    padding-top: 32px;
    color: #222222;
    width: 646px;
}

.sub-description
{
    display: flex;
    margin-bottom: 24px;
    width: 646px;
    height: 44px;
}

.sub-sub-description
{
    margin-left: 16px;
}

.sub-sub-description-title
{
    margin-bottom: 4px;
    font-weight: bold;
}

.sub-sub-description-subtitle
{
    color: rgb(113, 113, 113);
    font-size: 14px;
}

.main-container
{
    display: flex;
    justify-content: space-between;
}


.description-subtitle
{
    font-weight: bold;
}

.read-next
{
    font-weight: bold;
    text-decoration: underline;
}

.contact-host
{
    margin-top: 32px;
    font-weight: bold;
    text-decoration: underline;
}

.middle-description
{
    padding-bottom: 48px;
    padding-top: 48px;
    width: 646px;
}

.couchages
{
    padding-bottom: 24px;
}

.bed-boxes
{
    display: flex;
    margin-left: -8px;
}

.bed-box
{
    padding-left: 8px;
    padding-right: 8px;
    width: 33.33%;
}

.one-bed-box
{
    border: 1px solid #DDDDDD;
    border-radius: 12px;
}

.inside-bed-box
{
    padding: 24px;
}

.bed-picture
{
    margin-bottom: 16px;
}

.count-room
{
    margin-bottom: 8px;
    font-weight: bold;
}

.equipment-list
{
    display: flex;
    margin-left: -8px;
}

.equipment-column
{
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
}

.equipment-detail
{
    padding-bottom: 16px;
    max-width: 83.3%;
}

.each-equipment
{
    padding-bottom: 16px;
    display: flex;
    align-items: center;
}

.svg-equipment
{
    margin-right: 16px;
    margin-left: 0px;
    width: 24px;
}

.no-equipment
{
    text-decoration: line-through;
}

.see-more-equipment
{
    margin-top: 24px;
    box-sizing: border-box;
}

.click-to-see-more-equipment
{
    display: inline-block;
    margin: 0px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: auto;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    outline: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 23px;
    padding-right: 23px;
    border-color: #222222;
    background: #FFFFFF;
    color: #222222
}

aside
{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    margin-top: 44px;
    border-radius: 12px;
    width: 362.63px;
    height: 300px;
}

.sub-aside
{
    padding: 8px 24px 24px;
}

aside .top-aside
{
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin-bottom: 24px;
}

aside .add-dates
{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

aside .phrase-add-dates
{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
    font-size: 21px;
    font-weight: bold;
}

aside .show-score 
{
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
}

aside .show-score > div
{
    display: flex;
}

aside .show-score svg
{
    padding-right: 4px;
    width: 18px;
    height: 18px;
}

aside .score
{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.date-picker
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: -1px;
    border-style: solid;
    border-radius: 8px 8px 0px 0px;
    border-color: rgb(176, 176, 176);
    border-width: 1px;
    z-index: 0;
}

.date-start
{
    position: relative;
    width: 100%;
    flex: 1 1 0%;
    padding: 0px;
    overflow: hidden;
}

.date-end
{
    position: relative;
    width: 100%;
    flex: 1 1 0%;
    padding: 0px;
    overflow: hidden;
    border-left: 1px solid rgb(176, 176, 176);
}

.arrival-date, .departure-date
{
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    font-size: 10px;
    font-weight: bold;
}

.add-arrival-date, .add-departure-date
{
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 26px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    color: rgb(113, 113, 113);
    margin: 0px;
    overflow: hidden
}

.people-count
{
    position: relative;
    width: 100%;
    flex: 1 1 0%;
    border-radius: 0px 0px 8px 8px;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: -1px;
    border-style: solid;
    border-color: rgb(176, 176, 176);
    border-width: 1px;
    z-index: 0;
    border-top: 0px;
}

.travellers
{
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    font-size: 10px;
    font-weight: bold;
    line-height: 12px;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden
}

.travellers-container
{
    display: flex;
    justify-content: space-around;
}

.add-travellers
{
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 26px;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    white-space: nowrap;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
}

.add-travellers-arrow
{
    position: relative;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 50%;
    min-width: 36px;
    padding-right: 12px;
    color: black;
    margin-top: 20px;
}

.availability
{
      margin-top:16px;
}

.availability-button
{
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0px;
    text-decoration: none;
    border-radius: 8px;
    border-style: none;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%)
}

.signal
{
    margin-top: 24px;
    box-sizing: border-box;
}

.signal-flag
{
    margin-right: 16px;
}

.signal-announce
{
    display: flex;
    justify-content: center;
    color: rgb(113, 113, 113);
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
}
