*
{
    font-family: sans-serif;
}

button
{
    border: none;
    background-color: transparent;
    outline: none;
}

body
{
    margin: 0;
}

header
{
    display: flex;
    position: fixed;
    width: 100%;  
    align-items: center;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    background: white;
    z-index: 1;
}

header .sub-header
{
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    max-width: 1120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .account
{
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    border-radius: 40px;
    display: flex;
    height: 42px;
    padding: 5px 5px 5px 16px;
    align-items: center;
    justify-content: space-between;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(247, 247, 247);
}

header .account img
{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 8px;
} 

.search-bar a
{
    text-decoration: none;
    color: rgb(113, 113, 113);
}

.search-bar
{
    
    justify-content: space-between;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(247, 247, 247);
}

.search-bar-item
{
    padding: 15px;
    color: rgb(113, 113, 113);
    font-size: 14px;
    border-right: 1px solid rgb(235, 235, 235);
}

.search-bar-item:last-child
{
    border-right: none;
}

svg
{
    color: #FF385C;
}

section
{
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
}

article
{
    padding-top: 15px;
    margin-bottom: 24px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 1120px;
    margin: auto;
}

h1
{
    margin-bottom: 4px;
    font-size: 25px;
}

.sub-title
{
    margin-top: 8px;
    margin-bottom: 24px ;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.star
{
    margin-right: 4px;
    width: 25px;
}

.number-of-comment
{
    color: rgb(113, 113, 113);
}

.dot
{
    margin: 0px 8px;
    color: rgb(113, 113, 113);
    font-weight: bold;
}

.town
{
    color: rgb(113, 113, 113);
    text-decoration: underline
}

.sub-title-right
{
    margin-left: auto;
    display: flex;
    align-items: center;
}


.share, .save
{
    display: flex;
    align-items: center;
}

.share-icon, .save-icon
{
    margin-right: 8px;
}

.link
{
    text-decoration: underline;
}

.pictures
{
    display: flex;
    width: 100%;
    height: 372px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 12px;
    overflow: hidden;
}

.pictures img
{
    position: relative;
}

.pictures-container img
{
    width: 100%;
    height: auto;
}

.column
{
    display: flex;
    flex: 1;
}

.column-right
{
    flex-wrap: wrap;
}

.pictures-container-right
{
    width: 50%;
    height: 186px;
    overflow: hidden;
    box-sizing: border-box;
}

.pictures-container-right img
{
    width: 100%;
    height:auto;
}

.pictures-container
{
    padding-right: 3px;
}

.pictures-container-right:nth-child(1)
{
    padding-left: 3px;
    margin-bottom: 3px;
}

.pictures-container-right:nth-child(3)
{
    padding-left: 3px;
    margin-top: 3px;
}

.pictures-container-right:nth-child(2)
{
    padding-left: 6px;
    margin-bottom: 3px;
}

.pictures-container-right:nth-child(4)
{
    padding-left: 6px;
    margin-top: 3px;
}

.top-description
{
    padding: 35px 0px 24px;
    width: 646px;
}

h2
{
    font-size: 22px;
}

.subdescription
{
    color: #484848;
}

.line
{
    background-color: rgb(235, 235, 235);
    height: 1px;
    width: 646px;
}

.host-photo-right
{
    margin-left: 586px;
    display: flex;
}

.host-photo
{
    margin-top: -67px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.top-sub-description
{
    position: relative;
    padding-bottom: 32px;
    padding-top: 32px;
}

.sub-description
{
    display: flex;
    margin-bottom: 24px;
    width: 646px;
    height: 44px;
}

.sub-sub-description
{
    margin-left: 16px;
}

.sub-sub-description-title
{
    font-weight: bold;
    margin-bottom: 4px;
}

.sub-sub-description-subtitle
{
    color: rgb(113, 113, 113);
    font-size: 14px;
}

aside
{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
    margin-top: 24px;
    border-radius: 12px;
    padding: 8px 24px 24px;
    width: 362.63px;
    height: 300px;
}

.add-dates
{
    box-sizing: border-box;
    padding-top: 16px;
    width: 314px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.phrase-add-dates
{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: bold;
    width: 247px;
}

.show-score
{
    width: 48.55px;
    height: 24px;
    display: flex;
}

.score
{
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 24px;
    height: 24px;
}

